@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<span>
  Gelecekte bu sayfaya İyzico, Stripe ya da benzeri bir güvenli ödeme sistemi entegre edilecektir.
</span>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
